@import url(https://fonts.googleapis.com/css?family=Lobster);

section {
  /* background: #A0CBA4; */
  font-family: 'Lobster', cursive;
  width: 300px;
  height: 300px;
}
.circle {
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background: #4E8953;
  margin-top: 150px;
}

h1 {
  color: #D5E2D6;
  text-align: center;
  line-height: 50px;
  margin-top: -350px;
  -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
-webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
-o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
-ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  /*-----------------------*/
  text-shadow: 1px 1px #4A744D, 2px 2px #4A744D, 3px 3px #4A744D, 4px 4px #4A744D, 5px 5px #4A744D, 6px 6px #4A744D, 7px 7px #4A744D, 8px 8px #4A744D, 9px 9px #4A744D, 10px 10px #4A744D, 11px 11px #4A744D, 12px 12px #4A744D, 13px 13px #4A744D, 14px 14px #4A744D, 15px 15px #4A744D, 16px 16px #4A744D, 17px 17px #4A744D, 18px 18px #4A744D, 19px 19px #4A744D, 20px 20px #4A744D, 21px 21px #4A744D, 22px 22px #4A744D, 23px 23px #4A744D, 24px 24px #4A744D, 25px 25px #4A744D, 26px 26px 6px #06520C;
  
}

#bk-text > h1 > span:nth-child(1), #bk-text > h1 > span:nth-child(5), #bk-text > h1 > span:nth-child(9){
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

#bk-text > h1 > span:nth-child(3), #bk-text > h1 > span:nth-child(7) {

        font-size: 30px;
        font-family: 'Lobster', cursive;

}

/* span:nth-child(3), span:nth-child(7) { 
font-size: 60px;
} */

/* span:nth-child(1), span:nth-child(9), span:nth-child(5)  {
  font-size: 110px;
} */