@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Merriweather:wght@300&family=Overpass:ital@1&display=swap");

#root {
  width: 100vw;
  height: 100vh;
}
#root > div {
  width: 100vw;
  height: 100vh;
}

#root > div > main > div > div > div > fieldset {
  margin: 2px;
}

#email > input::placeholder {
  color: rgb(169, 163, 163);
}

#password > input::placeholder {
  color: rgb(169, 163, 163);
}

#password-confirm > input::placeholder {
  color: rgb(169, 163, 163);
}

.loginDashboard {
  width: 40%;
  margin: 10% 30% 0 30% !important;
}

.demoButton {
  width: 12%;
  margin: 2% 44% 0 44% !important;
}

#root > div > header > div > button {
  margin: 0 auto 0 auto;
}

.MuiIconButton-label {
  height: 20vh !important;
  width: 75% !important;
}

body > div > div > div > div > div > button {
  height: 56px !important;
  transform: translateY(-2px) !important;
}

#root > div > header > div > div > div > button * {
  padding: 0px;
}

#menu-goal-search > div,
#menu-experience-search > div {
  top: 24% !important;
}

#menu-gender-search > div,
#menu-radius-search > div,
#menu-location-search > div {
  top: 32% !important;
}

#menu-experience > div {
  top: 46.5% !important;
}

#menu-gender > div {
  top: 55.5% !important;
}

#menu-radius > div {
  top: 63.5% !important;
}

#menu-goals > div {
  top: 71.2% !important;
}

.btn-primary {
  color: #fff;
  background-color: #6c63ff;
  border-color: #8883e6;
}
.btn-primary:hover {
  color: #fff;
  background-color: #4d46dc;
  border-color: #2f2c6a;
}

.bts-mui-bt {
  background-color: #6c63ff;
  border: #edebfe;
}
.bts-mui-bt:hover {
  background-color: #8883e6;
}

.loginLinks {
  color: black;
}
.loginLinks:visited {
  color: black;
}

.loginLinks:hover {
  color: #1e2841;
}

#root > div > main > div > button {
  color: black;
}

body {
  display: flex;
  justify-content: center;
}
#main {
  display: flex;
  justify-content: center;
}
#name {
  display: flex;
  justify-content: center;
}

#search {
  display: flex;
  justify-content: space-between;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.bottom-center {
  position: absolute;
  bottom: 15%;
  text-align: center;
}

.index {
  text-align: center;
}

.messages {
  text-align: center;
  position: relative;
  margin: 15px;
}

.search-form {
  width: 110%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding-left: 70px;
  padding-right: 130px;
  flex-wrap: wrap;
}
.topBar {
  color: #44cceb;
  width: 100%;
}

.cards {
  padding-left: 8%;
  display: flex;
  justify-content: center;
}

#matches {
  text-align: center;
}

.match {
  background-color: rgb(143, 227, 255, 0.6);
}

#cardContainer {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card {
  margin: 0;
  grid-row: 2/3;
  place-self: center;
  text-align: center;
  font-family: montserrat;
  padding: 2% 0 0 0;
}

#socials {
  width: 100%;
  display: flex;
  align-self: center;
  padding: 1% 40% 2% 40%;
  justify-content: space-evenly;
}

.socialImage {
  width: 30px;
  height: 30px;
}

.title {
  color: grey;
  font-size: 18px;
}

#profile {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

#chat {
  background-color: #60a4b3;
  width: 40%;
  margin-left: 30%;
  border-radius: 20px;
}
#sent {
  background-color: rgb(154, 154, 250);
  margin-left: 55%;
}

#recieved {
  background-color: rgb(226, 219, 219);
  width: 45%;
  border-radius: 10px;
}

#form span {
  display: flex;
  justify-content: space-evenly;
}

#bk-text {
  color: black;
  font-family: Amaranth;
}

#all-font {
  font-family: Amaranth;
}

#quote-font {
  font-family: Overpass;
}

#merri-font {
  font-family: Merriweather;
}

#LoginQ span {
  display: flex;
  justify-content: center;
}

#layout {
  position: relative;
  float: right;
  padding: 50px;
  margin-right: 90px;
}

#profHeader {
  position: relative;
  top: 0;
  left: 0;
}

.profBackground {
  position: relative;
  top: 0;
  left: 0;
  height: 165px;
  width: 100%;
  background-color: rgba(162, 101, 236, 0.4);
}

.profPic {
  position: absolute;
  top: 100px;
  left: 40px;
  border: solid 0.37em white;
  border-radius: 50%;
}

.containerGrid {
  padding: 1% 10% 1% 10%;
  display: grid;
  grid-template-columns: minmax(39%, 1fr) minmax(39%, 1fr);
  column-gap: 2%;
  color: black;
}

.item1,
.item2 {
  width: 100%;
  height: 53vh;
  margin: 0;
  padding: 20px 30px 20px 30px;
  box-shadow: 0px 8px 60px -10px rgba(147, 171, 189, 0.6);
  background: #fff;
  border-radius: 12px;
  color: black;
  font-family: montserrat;
}

.item1 h3 {
  font-size: 30px;
}

.item1 h5 {
  font-size: 23px;
}

.item1 > div > ul {
  margin: 0 0 0 0 !important;
  padding: 0.5% 0 0 0 !important;
}

.item1 li {
  list-style: none;
  font-size: 20px;
}

.item1 > div > ul > li > img {
  padding: 0 0 0 0 !important;
  width: 25px;
  margin: 0 3% 0 1% !important;
}

.item2 h3 {
  font-size: 30px;
}

.item2 h5 {
  font-size: 23px;
}

.item2 li {
  list-style: none;
  font-size: 20px;
  font-style: italic;
}

.item2 ul {
  margin: 0 0 0 0 !important;
  padding: 0.5% 0 0 0 !important;
}

.item2 img {
  padding: 0 0 0 0 !important;
  margin: 0 3% 0 1% !important;
}

#editiconContainer {
  display: flex;
  justify-content: space-between;
}

#editicon > a > img {
  transform: scale(01);
}

.item4 {
  width: 100%;
  padding: 0.5% 10% 0.5% 10%;
}

#badges li {
  list-style: none;
}

#badges img {
  padding: 0 0 0 0 !important;
  width: 25px;
  margin: 0 3% 0 1% !important;
}

#root > div > main > div > div > label > span,
#root > div > main > div > div > label > span > span {
  align-items: center;
  display: flex;
  height: 8% !important;
}
#root > div > main > div > div > label > span > span > svg {
  width: 42px !important;
  height: 42px !important;
}

.modalContainer {
  -webkit-transform: scale(0.63);
  -moz-transform: scale(0.63);
  transform: scale(0.63);
  display: flex;
  justify-content: center;
}

.modalContainer .item4 {
  width: 100%;
  padding: 1% 10% 1% 10%;
  margin-right: 350px;
}

.badge {
  width: 30%;
  padding: 2% 4% 2% 4%;
  margin: 1%;
}

#GreatMotivator[animation="0"] {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#GreatMotivator[animation="1"] {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-color: #001440;
  color: white;
}
#SpotOn[animation="0"] {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#SpotOn[animation="1"] {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-color: #001440;
  color: white;
}
#MobilityMaster[animation="0"] {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#MobilityMaster[animation="1"] {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-color: #001440;
  color: white;
}
#Punctuality[animation="0"] {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#Punctuality[animation="1"] {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-color: #001440;
  color: white;
}
#Cardiologist[animation="0"] {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#Cardiologist[animation="1"] {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-color: #000b4a;
  color: white;
}

.tracking-in-contract {
	        animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#weloveyou{
  font-size: 2rem;
  font-family: Shrikhand;
}

/*           ANIMATIONS          */
/* ============================= */

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
/* ============================= */

@media screen and (max-width: 1720px) {
  #cardContainer {
    margin-top: 64px;
    margin-bottom: 10px;
  }

  #socials a {
    padding: 1% 15% 2% 15%;
  }

  .containerGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.6%;
  }

  .item1 {
    height: 68.5vh;
  }
  .item2 {
    height: 68.5vh;
  }

  .item4 {
    padding-top: 20px;
    overflow: hidden;
    margin: auto;
  }
}

@media screen and (max-width: 780px) {
  #cardContainer {
    margin-top: 80px;
    margin-bottom: 10px;
  }

  #socials a {
    padding: 1% 15% 2% 15%;
  }

  .containerGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.6%;
  }
  .item1 h3 {
    font-size: 20px;
  }

  .item1 h5 {
    font-size: 15px;
  }
  .item2 h3 {
    font-size: 20px;
  }

  .item2 h5 {
    font-size: 15px;
  }

  .item1 {
    height: 66.5vh;
  }
  .item2 {
    height: 66.5vh;
  }

  .item4 {
    padding-top: 20px;
    overflow: hidden;
    margin: auto;
  }
}

@media screen and (max-width: 680px) {
  #cardContainer {
    margin-top: 120px;
    margin-bottom: 20px;
  }
  #socials a {
    padding: 1% 15% 2% 15%;
  }
  .containerGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5%;
  }
  .item1 h3 {
    font-size: 20px;
  }

  .item1 h5 {
    font-size: 15px;
  }
  .item2 h3 {
    font-size: 20px;
  }

  .item2 h5 {
    font-size: 15px;
  }

  .item1 {
    height: 76.5vh;
  }
  .item2 {
    height: 76.5vh;
  }

  .item4 {
    padding-top: 47px;
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  #cardContainer {
    margin-top: 120px;
    margin-bottom: 20px;
  }

  #socials a {
    padding: 1% 15% 2% 15%;
  }
  .containerGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2.5%;
  }
  .item1 {
    height: 67vh;
  }
  .item2 {
    height: 70vh;
  }

  .item1 h3 {
    font-size: 25px;
  }

  .item1 h5 {
    font-size: 20px;
  }

  .item1 li {
    list-style: none;
    font-size: 17.5px;
  }

  .item2 h3 {
    font-size: 25px;
  }

  .item2 h5 {
    font-size: 20px;
  }

  .item2 li {
    list-style: none;
    font-size: 17.5px;
    font-style: italic;
  }

  .item4 {
    padding-top: 47px;
    overflow: hidden;
  }
}
